.user-name {
  background-color: coral;
  font-size: 30px;
}

.search-frm {
  width: 29%;
  position: relative;
  left: 80px;
  top: 40px;
}

.tbl-row-width-usr-log {
  width: 21%;
}

.create-new-log-btn {
  position: relative;
  float: right;
  right: 30px;
  top: 30px;
}

.no-result-found {
  position: relative;
  top: 340px;
  left: 36%;
  width: 17%;
}

.main-container {
  margin: 12px;
}

