<div class="frm-container">
  <h4> Create new travel log. </h4>
  <form [formGroup]="createNewTravelLog" (ngSubmit)="onSubmit()">
    <label> Travel Route </label>
    <div class="form-group">
      <input type="text" class="form-control" id="travel-route" formControlName="travel_route" placeholder="Enter Travel Route" required>
    </div>
    <br>
    <label> Travel Short Description </label>
    <div class="form-group">
      <input type="text" class="form-control" id="travel-short-description" formControlName="travel_short_description" placeholder="Enter Travel Short Description" required>
    </div>
    <br>
    <label> Vechile Registration Number </label>
    <div class="form-group">
      <input type="text" class="form-control" id="vechine-registration-number" formControlName="vechile_registration_number" placeholder="Enter Vechine Registration Number" required>
    </div>
    <br>
    <label> Vechile Odometer Start </label>
    <div class="form-group">
      <input type="number" class="form-control" id="vechine-odometer-start-number" formControlName="vechile_odometer_start_number" placeholder="Enter Vechine Odometer Start Number" required>
    </div>
    <br>
    <label> Vechile Odometer End </label>
    <div class="form-group">
      <input type="number" class="form-control" id="vechine-odometer-end-number" formControlName="vechile_odometer_end_number" placeholder="Enter Vechine Odometer End Number" required>
    </div>
    <br>
    <label> Date of the log </label>
    <div class="form-group">
      <input type="date" class="form-control" id="vechine-travel-log-data" max="{{ maxDateForCalender }}"
             formControlName="vechine_travel_log_date" placeholder="Enter Travel Log Date" required>
    </div>
    <br>
    <label> Select a user </label>
    <div class="form-group">
      <select formControlName="userid" required>
        <option *ngFor="let userdata of allUsers" value="{{ userdata.id }}">{{ userdata.name }}</option>
      </select>
    </div>
    <br>
    <button [disabled]="createNewTravelLog.invalid" type="submit" class="btn btn-primary"> Add New Log </button> &nbsp;
    <button type="button" class="btn btn-primary" (click)="goToHome()"> Home </button>
  </form>
</div>

